defaults:
  - model: Swin-T
  - _self_

trainer:
  num_epochs: 300
  warmup_steps: 20
  patience: 5

model:
  M: 8  # Window size (root of patches in each window)
  nH: 4  # Number of attention heads
  p_drop: 0.2  # MLP dropout probability

optimizer:
  lr: 1e-3
  weight_decay: 0.05

criterion:
  label_smoothing: 0

data:
  train:
    batch_size: 128 
    shuffle: true
    persistent_workers: true
    num_workers: 4
    pin_memory: true
    
  valid:
    batch_size: 128 
    persistent_workers: true
    num_workers: 4
    pin_memory: true
